<h1> Create a Team and Heroes! </h1>

<form action="/teams" method="POST">
  <p> Team Name<input name="team[name]" type="text" id="team1"/></p>
  <p> Team Motto<input name="team[motto]" type="text" id=""/></p>
  <h3> Hero 1 </h3>
    <p>Hero's Name:<input name="hero1[name]" type="text" id="member1_name"/></p>
    <p>Hero's Power:<input name="hero1[power]" type="text" id="member1_power"/></p>
    <p>Hero's Biography<input name="hero1[bio]" type="text" id="member1_bio"/></p>
  <h3> Hero 2 </h3>
    <p>Hero's Name:<input name="hero2[name]" type="text" id="member2_name"/></p>
    <p>Hero's Power:<input name="hero2[power]" type="text" id="member2_power"/></p>
    <p>Hero's Biography<input name="hero2[bio]" type="text" id="member2_bio"/></p>
  <h3> Hero 3 </h3>
    <p>Hero's Name:<input name="hero3[name]" type="text" id="member3_name"/></p>
    <p>Hero's Power:<input name="hero3[power]" type="text" id="member3_power"/></p>
    <p>Hero's Biography<input name="hero3[bio]" type="text" id="member3_bio"/></p>
  <button type="submit" value="submit"></button>
</form>
